* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e6f9f3;
}

.wrapper {
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background-color: #fefae2;
  box-shadow: -2px -11px 8.699999809265137px 0 rgba(66, 129, 108, 0.2);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  color: #04333a;
  font-size: 32px;
  text-align: center;
  font-family: "Rubik Doodle Shadow", system-ui;
}

.descr {
  font-size: 22px;
  font-weight: 600;
  color: #04333a;
}

.number {
  max-width: 130px;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #04333a;
  background-color: transparent;
  color: #234b3d;
  text-align: center;
  margin-left: 15px;
}

.btn {
  width: 270px;
  margin-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background-color: #e6f9f3;
  color: #234b3d;
  box-shadow: inset -4px -4px 7px rgba(10, 58, 59, 0.8);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: #04333a;
  color: #fefae2;
}

.result {
  color: #04333a;
  font-size: 30px;
  font-family: "Rubik Doodle Shadow", system-ui;
}
