p{
	margin-top: 50px;
	margin-left: 40px;

}

button{
	width: 100px;
	height: 50px;
	border-radius: 8px;
	position: absolute;
	margin-top: 80px;
	left: 50px;
	background-color: aqua;
}
.time{
	font-size: 40px;
	margin-top: 150px;
	text-align: center;
	color: rgb(64, 9, 116);
	background-color: bisque;
}