html, * {
    text-transform: uppercase;
}


button {
    border: 1px solid #aaa;
    line-height: 22px;
    border-radius: 5px;

}

.container {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}
