.book-list {}

.book-list__container {}

.book-list__body {
    padding: 25px 0px;
}

.book-list__item {
    background: #c2bfba;
    padding: 20px;
    border-radius: 8px;
    box-shadow:
            1px 0 1px rgba(101, 101, 101, 1),
            /* тень справа */
            -1px 0 1px rgba(101,
                101,
                101,
                1),
            /* тень слева */
            0 2px 1px rgba(101,
                101,
                101,
                1);
        /* тень снизу */
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 25px;
        color: white;
}
.book-list__item h2 {
    font-weight: 600;
}