* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
  width: 400px;
}

h1 {
  color: #333;
  margin-bottom: 1.5rem;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 24px;
}

.input-container input,
.input-container button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #45a049;
}

.input-container .calculate {
  background-color: #4c6faf;
  grid-column: 1 / -1;
  /* margin-top: 10px; */
}

.input-container .calculate:hover {
  background-color: #5777b3;
}

.input-container input {
  grid-column: 1 / -1;
  /* margin-top: 10px; */
}

#result {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* Добавлено медиа-правило для адаптивности на маленьких экранах */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .input-container {
    grid-template-columns: 1fr;
  }
}
