.item {
  list-style: none;
  color: rgb(19, 32, 32);
  background-color: lightblue;
  padding: 20px;
  margin: 30px 10px;
  border-radius: 10px;
}

#bookForm label {
  display: inline-block;
  width: 100px;
}

#bookForm div {
  margin-bottom: 10px;
}

.btn {
  background: lightblue;
  color: rgb(42, 42, 65);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%;
}
