body {
  background-color:whitesmoke;
}
p {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
#results {
  text-align: center;
  align-items: center;
}
button {
  margin: auto;
  color: red;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
#counters,
h1 {
  background-color: lightgreen;
  color: blue;
}
