body{
  background-color: antiquewhite;
}
.wrapper {
  margin: 10px auto;
  width: 600px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px rgba(71, 2, 62, 0.3);
 background-color: aquamarine;
}
.container{
  max-width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
}