body {
    background-color: rgb(99, 99, 99);
}

.main-container {
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    max-height: 600px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.705);
    box-shadow: 0 0 15px 2px rgba(197, 191, 202, 0.5);
}

.main-container:hover {
    border: 3px solid rgba(186, 9, 209, 0.562);
    box-shadow: 0 0 15px 3px rgba(253, 36, 242, 0.76);
}

.main-container-header {
    font-size: 35px;
    font-weight: 600;
    padding: 5px;
    margin: 0px 5px 5px;
    color: rgb(197, 191, 202);
}

.main-container-text {
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    margin: 0 5px 5px;
    color: rgba(0, 0, 0, 0.8);
}

#result-header {
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    margin: 0 5px 5px;
}

#input-value {
    max-width: 250px;
    max-height: 30px;
    background-color: rgb(99, 99, 99);
    font-size: 18px;
    font-weight: 600;
    color: rgb(197, 191, 202);
    text-align: center;
    padding: 5px;
    margin: 0 5px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.705);
    box-shadow: 0 0 10px 2px rgba(197, 191, 202, 0.5);
}

#input-value:focus,
#input-value:hover {
    background-color: rgba(80, 80, 80, 0.5);
    ;
    border: 2px solid rgba(186, 9, 209, 0.562);
    box-shadow: 0 0 10px 2px rgba(253, 36, 242, 0.76);
}

.main-container:focus-within {
    border: 3px solid rgba(186, 9, 209, 0.562);
    box-shadow: 0 0 15px 2px rgba(253, 36, 242, 0.76);
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(99, 99, 99);
    color: rgb(197, 191, 202);
    margin: 0 5px 5px;
    padding: 2px;
    border-radius: 7px;
    border: 2px solid rgba(255, 255, 255, 0.705);
    box-shadow: 0 0 10px 2px rgba(197, 191, 202, 0.5);
    position: relative;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.705);
    background-color: rgba(80, 80, 80, 0.5);
    border: 3px solid rgba(186, 9, 209, 0.562);
    box-shadow: 0 0 15px 2px rgba(253, 36, 242, 0.76);
    top: 1px;
}

.incorrect-input {
    color: rgba(252, 196, 93, 0.65);
}