body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

form h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
  text-align: center;
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

form label {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

form button {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 49%;
}

form button:hover {
  background: #555;
}

#showFormButton {
  display: flex;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
}

#showFormButton:hover {
  background: #555;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-item {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .book-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .book-item {
    width: 100%;
  }
}