@import url(style.css);

.ui {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem 0;
}
.output {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem 0;
  text-align: center;
  margin: 3rem auto;
}
input {
  height: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

.error {
  color: orangered;
}
.success {
  color: green;
}
