* {
    margin: 0;
}

.bookList {
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.book {
    border: dashed 1px lightgray;
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

.title {
    margin: 40px 0 40px 0;
    text-align: center;
}

.desc {
    align-self: self-start;
}

.desc p,
.author {
    font-size: small;
    margin: 0;
}

.author {
    text-align: center;
}

.header {
    height: 100px;
    background-color: lightcyan;
    display: flex;
    align-items: center;
}

.toggleBtn {
    width: 150px;
    height: 50px;
    margin: 20px;
    border-radius: 50px;
    background-color: #1a7a92;
    font-size: large;
    border-color: gray;
}

.toggleBtn:hover {
    cursor: pointer;
}

li {
    margin: 15px;
}