body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.book-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px; /* Добавлено расстояние между кнопками */
    transition: transform 0.2s; /* Анимация нажатия */
}

button:hover {
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.delete-button {
    background-color: #f44336; /* Красный цвет для кнопки удалить */
}

.delete-button:hover {
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.book-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0; /* Начальная прозрачность для анимации появления */
    animation: fadeIn 0.5s forwards; /* Анимация появления */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}