body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  h1 {
    color: green;
    text-align: center;
  }

  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  p {
    margin: 10px 0;
  }

  input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: green;
  }
