.bookItem {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  background-color: bisque;
}

#bookList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 6px;
}

#addBookForm {
  display: flex;
  align-items: end;
  gap: 10px;
}

#addBookForm label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


input:valid {
  border: 1px solid lightgreen;
}

input:invalid {
  border: 1px solid lightcoral;
}
