body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-item {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .book-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .book-item {
    width: 100%;
  }
}