* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Sulphur Point", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.8s ease;
}

img:hover{
  transform: scale(1.05);

}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.title {
  color: #f9f0ff;
  font-size: 80px;
  font-weight: 700;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 50px 50px;
  list-style: none;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  max-width: 290px;
  padding: 30px 15px;
  border: 3px solid #3d0c6b;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: #e6d5f4;
}

.project-title {
  color: #3d0c6b;
  font-size: 28px;
  font-weight: 900;
}

.btn {
  width: 90%;
  background-color: #240a3d;
  color: #e6d5f4;
  padding: 10px 25px;
  border-radius: 8px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(66, 9, 65);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  overflow: hidden;
}

.btn:hover::after,
.btn:focus::after {
  transform: scaleX(1);
}

.btn > span {
  position: relative;
  z-index: 2;
}
